h1 {
    text-align: center;
}

.input {
    height: 55px;
    width: 250px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 10px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.add-task, .remove-task {
    height: 55px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(251, 249, 249);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}